.App{
  font-family: 'Times New Roman', Times, serif;
}
.movie-Poster {
  height: 640px;
  width: 100%;
  object-fit: cover;
}
.movie-Title{
  font-size: 24px;
  margin: 0;
}
.movie-Data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-Container{
  width: 340px;
}
.whole-container{
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
 justify-content: space-around;
}

.container{
  margin-top: 30px;
  margin-left: 20px;
  border: 1px solid black;
  height: 250px;
  width:700px;
  background-color: rgb(15, 194, 249);
}
.Movie-Details{
  height: 40px;
  width:650px;
}
.movie-button{
  margin-top: 10px;
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
}
::placeholder{
  font-weight: bold;
}