.App{
  font-family: 'Times New Roman', Times, serif;
}
.movie-Poster {
  height: 640px;
  width: 100%;
  object-fit: cover;
}
.movie-Title{
  font-size: 24px;
  margin: 0;
}
.movie-Data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-Container{
  width: 340px;
}
.whole-container{
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
 justify-content: space-around;
}
.add-movie{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.movie-details-Container{
  padding: 20px;
}
.movie-details-Rating{
  width: 1400px;
}